@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&family=Roboto+Slab&display=swap");
* {
  margin: 0%;
  padding: 0;
  box-sizing: border-box;
  font-family: "Yrsa", serif;
}

@keyframes efecto {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.85);
  }
  100% {
    box-shadow: 0 0 0 25px rgba(0, 0, 0, 0);
  }
}
.navcolor {
  background-color: #ffffff;
  box-shadow: 0px 3px 35px 0px rgba(0, 0, 0, 0.1607843137);
  transition: 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.necesitas {
  margin-top: 0%;
  display: grid;
  grid-template-columns: 40% 15% 40%;
  grid-template-rows: 100%;
  justify-content: center;
  align-content: center;
  text-align: center;
  grid-template-areas: "necesitas2 necesitas3 necesitas4";
  margin-bottom: 70px;
}
.necesitas .necesitas2 {
  grid-area: necesitas2;
  text-align: center;
  border-radius: 15px 0px 0px 15px;
  background: #0077b6;
}
.necesitas .necesitas2 .t1 {
  color: rgb(255, 255, 255);
  font-size: 149%;
  font-weight: 500;
  line-height: 1em;
  padding: 14px 0px 0px 0px;
}
.necesitas .necesitas2 .t2 {
  font-size: 160%;
  font-weight: 500;
  color: rgb(255, 255, 255);
  margin: 0px 0px 0px 0px;
  padding: 0px;
  line-height: 1.1em;
}

.necesitas3 {
  grid-area: necesitas3;
  text-align: center;
  border-radius: 0px;
  background: rgb(0, 119, 182);
  padding: 20px 0px 14px 0px;
}
.necesitas3 .telefono {
  width: 120px;
  margin: 0px 0px 0px 32px;
}

.necesitas4 {
  grid-area: necesitas4;
  text-align: center;
  border-radius: 0px 15px 15px 0px;
  background: #0077b6;
}
.necesitas4 .t3 {
  font-weight: 500;
  line-height: 1.5em;
  color: rgb(255, 255, 255);
  margin: 0px 0px 5px;
  padding: 34px 3px 0px 0px;
  font-size: 149%;
}
.necesitas4 .t4 {
  color: rgb(255, 255, 255);
  font-size: 160%;
  font-weight: 500;
  line-height: 1.1em;
  padding: 0px 0px 0px 0px;
}

footer img {
  width: 50px;
}

footer {
  padding-top: 1%;
  height: 100px;
  margin-top: 5%;
  background-color: #FFFFFF;
  box-shadow: 1px -20px 20px 0px rgba(0, 0, 0, 0.1607843137);
  transition: 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
footer .footer2 {
  display: grid;
  grid-template-columns: 60px 60px;
  grid-template-rows: 22px 47px 29px;
  row-gap: 2%;
  justify-content: center;
  align-content: center;
  text-align: center;
  grid-template-areas: "textof textof" "logolinkedin logogoogle" "textof2 textof2";
}
footer .footer2 .textof {
  color: #0077b6;
  font-size: 16px;
  font-weight: 500;
  grid-area: textof;
}
footer .footer2 .logolinkedin {
  grid-area: logolinkedin;
}
footer .footer2 .logogoogle {
  padding: 8px;
  grid-area: logogoogle;
}
footer .footer2 .textof2 {
  color: #0077b6;
  font-size: 16px;
  font-weight: 500;
  grid-area: textof2;
}

.botonwpp {
  background-color: #0077b6;
  border: 1px solid #fff;
  position: fixed;
  z-index: 999;
  border-radius: 50%;
  bottom: 20px;
  right: 25px;
  padding: 8px;
  transition: ease 0.3s;
  animation: efecto 1.2s infinite;
}
.botonwpp .botonw {
  width: 35px;
  transition: ease 1s;
}

.botonwpp:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

.titulo {
  color: #0077b6;
  font-family: "Yrsa", serif;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1.5px;
  margin: 115px 0px 42px 0px;
  padding: 0px 0px 0px 40px;
}

.bienvenida {
  margin-top: 5%;
}
.bienvenida .profesional {
  font-size: 400%;
  font-weight: 500;
  color: #ffd60a;
  line-height: 1em;
  padding-left: 4%;
}
.bienvenida .psicologo {
  padding-left: 4%;
  font-size: 400%;
  font-weight: 500;
  line-height: 1em;
  color: #0077b6;
}

.box {
  margin-left: 4%;
  margin-top: 8%;
  display: grid;
  grid-template-columns: 45% 45%;
  grid-template-rows: 118%;
  -moz-column-gap: 3%;
       column-gap: 3%;
  row-gap: 2%;
  justify-content: center;
  align-content: center;
  text-align: center;
  grid-template-areas: "box1 box2";
}
.box .box1 {
  border-radius: 0px 0px 0px 0px;
  background: #0077b6;
  grid-area: box1;
  text-align: center;
  border-radius: 15px 15px 15px 15px;
}
.box .tipoh {
  font-size: 170%;
  font-weight: 500;
  line-height: 1.5em;
  color: #FFFFFF;
  margin: 0px 0px 5px 0px;
  padding: 5px 0px 0px 0px;
}
.box .boton1 {
  font-family: "Ubuntu", Sans-serif;
  font-size: 79%;
  font-weight: 700;
  line-height: 16px;
  width: 28%;
  height: 22%;
  border-radius: 100px 100px 100px 100px;
  margin: 25px 0px 5px 0px;
  background-color: #ffd60a;
  color: #0077b6;
}

.box2 {
  border-radius: 0px 0px 0px 0px;
  grid-area: box2;
  text-align: center;
  border-radius: 15px 15px 15px 15px;
  background: #0077b6;
}
.box2 .horario {
  font-size: 170%;
  font-weight: 500;
  line-height: 1.5em;
  color: #FFFFFF;
  margin: 0px 0px 5px 0px;
  padding: 5px 0px 0px 0px;
}
.box2 .horario1 {
  color: #FFFFFF;
  font-size: 118%;
  font-weight: 500;
  line-height: 1.2em;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

.img1 img {
  width: 183%;
  height: 74%;
  margin-left: 53px;
  border-radius: 100px 100px 100px 100px;
  border: solid 2px #ffd60a;
}

.boximg {
  margin-left: 4%;
  display: grid;
  grid-template-columns: 45% 45%;
  grid-template-rows: 17% 57%;
  -moz-column-gap: 3%;
       column-gap: 3%;
  justify-content: center;
  align-content: center;
  text-align: center;
  grid-template-areas: "bienvenida2 imagen1" "descripcion1 imagen1";
}
.boximg .img1 {
  grid-area: imagen1;
  width: 240px;
  height: 650px;
}
.boximg .bienvenida2 {
  color: rgb(1, 72, 109);
  font-family: Ubuntu, sans-serif;
  font-size: 39px;
  font-weight: 700;
  letter-spacing: 0.5px;
  margin: 0px 0px 0px 0px;
  padding: 0px;
  grid-area: bienvenida2;
}
.boximg .descrpcion1 {
  grid-area: descripcion1;
  color: #444;
  font-size: 32px;
  padding-top: 0%;
  font-weight: 300;
}
.boximg .descrpcion1 .boton2 {
  font-family: "Ubuntu", Sans-serif;
  font-size: 43%;
  font-weight: 700;
  line-height: 16px;
  width: 28%;
  height: 10%;
  border-radius: 100px 100px 100px 100px;
  margin: 25px 0px 5px 0px;
  background-color: #ffd60a;
  color: #0077b6;
}

.bannerperfil {
  display: grid;
  grid-template-columns: 12% 49%;
  grid-template-rows: 48% 50%;
  grid-template-areas: "foto nombrege" "foto descriperfil";
}
.bannerperfil .fotoperfil {
  grid-area: foto;
}
.bannerperfil .fotoperfil .fotoperfil2 {
  border-radius: 100px 100px 100px 100px;
  margin: 0px 0px 0px 12px;
}
.bannerperfil .nombrege {
  grid-area: nombrege;
  color: #01486d;
}
.bannerperfil .nombrege .nombrege1 {
  margin: 24px 40px 0px 0px;
}
.bannerperfil .descriperfil {
  font-size: 170%;
  font-weight: 500;
  color: #0077b6;
  grid-area: descriperfil;
}

.perf {
  font-size: 25px;
  font-weight: 500;
  line-height: 1em;
  color: #0077b6;
  padding-left: 4%;
  text-align: center;
  padding-left: 6.5%;
}

.descripcionper {
  margin-right: 4%;
  margin-left: 4%;
  color: #444;
  font-size: 18px;
  padding-top: 0%;
  font-weight: 300;
  text-align: justify;
}

.descripcionper2 {
  margin-top: 2%;
  margin-right: 5.5%;
  margin-left: 5.5%;
  color: #444;
  font-size: 18px;
  padding-top: 0%;
  font-weight: 300;
  text-align: justify;
}

.nosotros {
  margin-left: 4%;
  margin-right: 4%;
  margin-top: 4%;
  margin-bottom: 4%;
  display: grid;
  grid-template-columns: 50% 50%;
  -moz-column-gap: 3%;
       column-gap: 3%;
  justify-content: center;
  align-content: center;
  text-align: center;
  grid-template-areas: "vision mision";
}
.nosotros .n2 {
  grid-area: necesitas2;
  text-align: center;
  border-radius: 15px 15px 15px 15px;
  background: #0077b6;
  grid-area: vision;
}
.nosotros .n2 .vision {
  color: #ffffff;
  font-family: "Ubuntu", Sans-serif;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.5px;
  padding: 20px 0px 0px 0px;
  grid-area: bienvenida2;
}
.nosotros .n2 .pnosotros {
  margin-right: 4%;
  margin-left: 4%;
  color: rgb(255, 255, 255);
  font-size: 101%;
  font-weight: 500;
}
.nosotros .n3 {
  grid-area: necesitas2;
  text-align: center;
  border-radius: 15px 15px 15px 15px;
  background: #0077b6;
  grid-area: mision;
}
.nosotros .n3 .mision {
  color: #ffffff;
  font-family: "Ubuntu", Sans-serif;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.5px;
  padding: 20px 0px 0px 0px;
  grid-area: bienvenida2;
}
.nosotros .n3 .pnosotros {
  margin-right: 4%;
  margin-left: 4%;
  color: rgb(255, 255, 255);
  font-size: 101%;
  font-weight: 500;
}

.serviciotobanner {
  width: 100%;
  height: 160px;
  border-radius: 0px 0px 15px 15px;
  background-color: #eeeeee;
  text-align: center;
  box-shadow: -5px 20px 16px 4px rgba(0, 0, 0, 0.1607843137);
}
.serviciotobanner .contactotex {
  color: #0077b6;
  font-family: "Ubuntu", Sans-serif;
  font-size: 42px;
  font-weight: 700;
  letter-spacing: 0.5px;
  padding: 57px 0px 0px 0px;
}

.servicioselig {
  margin-top: 8%;
  text-align: center;
}
.servicioselig .serviciose1 {
  font-size: 100%;
  font-weight: 700;
  color: #ffd60a;
  line-height: 1em;
}
.servicioselig .serviciose {
  font-size: 100%;
  font-weight: 700;
  color: #0077b6;
  line-height: 1em;
}

.cardpadre {
  margin-left: 4%;
  margin-right: 4%;
  margin-top: 8%;
  display: grid;
  grid-template-columns: 288px 288px 287px;
  grid-template-rows: 344px 344px;
  -moz-column-gap: 6%;
       column-gap: 6%;
  row-gap: 14%;
  justify-content: center;
  align-content: center;
  text-align: center;
  grid-template-areas: "card1 card2 card3" "card4 card5 card6";
}

.card1 {
  border: solid 1px #ffd60a;
  grid-area: card1;
  background-color: #EFEFEF;
  border-radius: 15px 15px;
  grid-area: card1;
  height: 340px;
}
.card1 .imgcad22 {
  width: 288px;
  border-radius: 15px 15px 15px 15px;
}
.card1 .cartitle1 {
  margin-top: 3%;
  color: #01486d;
  padding-top: 30px;
}

.card2 {
  border: solid 1px #ffd60a;
  grid-area: card1;
  background-color: #EFEFEF;
  border-radius: 15px 15px;
  grid-area: card2;
  height: 340px;
}
.card2 .imgcad2 {
  width: 288px;
  height: 192px;
  border-radius: 15px 15px 15px 15px;
}
.card2 .cartitle2 {
  margin-top: 3%;
  color: #01486d;
  padding-top: 23px;
}

.card3 {
  border: solid 1px #ffd60a;
  grid-area: card1;
  background-color: #EFEFEF;
  border-radius: 15px 15px;
  grid-area: card3;
  height: 340px;
}
.card3 .imgcad22 {
  width: 288px;
  border-radius: 15px 15px 15px 15px;
}

.cartitle3 {
  margin-top: 3%;
  color: #01486d;
  padding-top: 23px;
}

.card4 {
  border: solid 1px #ffd60a;
  grid-area: card1;
  background-color: #EFEFEF;
  border-radius: 15px 15px;
  grid-area: card4;
  height: 340px;
}
.card4 .imgcad22 {
  width: 288px;
  border-radius: 15px 15px 15px 15px;
}
.card4 .cartitle4 {
  margin-top: 3%;
  color: #01486d;
  padding-top: 50px;
}

.card5 {
  border: solid 1px #ffd60a;
  grid-area: card1;
  background-color: #EFEFEF;
  border-radius: 15px 15px;
  grid-area: card5;
  height: 340px;
}
.card5 .imgcad22 {
  width: 288px;
  border-radius: 15px 15px 15px 15px;
}
.card5 .cartitle5 {
  margin-top: 3%;
  color: #01486d;
  padding-top: 22px;
}

.card6 {
  border: solid 1px #ffd60a;
  grid-area: card1;
  background-color: #EFEFEF;
  border-radius: 15px 15px;
  grid-area: card6;
  height: 340px;
}
.card6 .imgcad22 {
  width: 288px;
  border-radius: 15px 15px 15px 15px;
}
.card6 .cartitle6 {
  margin-top: 3%;
  color: #01486d;
  padding-top: 22px;
}

.cajaimgbanner {
  margin-top: 12%;
  margin-bottom: 4%;
}
.cajaimgbanner .banner22 {
  height: 400px;
}
.cajaimgbanner .logobanner {
  width: 350px;
}
.cajaimgbanner .cartitle7 {
  margin-top: 3%;
  color: #0077b6;
  padding-top: 111px;
  font-size: 47px;
  text-shadow: 2px 0px 3px #000, 8px 5px 10px #000, 0px 0px 0 #000, 0px 0px 0 #000;
}

.contactobanner {
  width: 100%;
  height: 160px;
  border-radius: 0px 0px 15px 15px;
  background-color: #eeeeee;
  text-align: center;
  box-shadow: -5px 20px 16px 4px rgba(0, 0, 0, 0.1607843137);
}
.contactobanner .contactotex {
  color: #0077b6;
  font-family: "Ubuntu", Sans-serif;
  font-size: 42px;
  font-weight: 700;
  letter-spacing: 0.5px;
  padding: 57px 0px 0px 0px;
}

.cotenedorcont {
  padding-top: 35px;
  display: flex;
  flex-direction: row;
  -moz-column-gap: 14%;
       column-gap: 14%;
  align-items: baseline;
  justify-content: center;
  margin-right: 97px;
}
.cotenedorcont .hatencion {
  background-color: rgb(0, 119, 182);
  border-radius: 100px;
  grid-area: hatencion;
}
.cotenedorcont .hatencion .hdescripcion {
  font-size: 170%;
  font-weight: 500;
  line-height: 2.5rem;
  color: #FFFFFF;
  margin: 0px 0px 5px 0px;
  padding: 57px 0px 0px 0px;
  text-align: center;
}
.cotenedorcont .hatencion .hdescripcion2 {
  font-size: 22px;
  font-weight: 500;
  line-height: 1.8rem;
  color: rgba(255, 255, 255, 0.86);
  text-align: center;
}
.cotenedorcont .hatencion .hturnos {
  font-size: 160%;
  font-weight: 500;
  line-height: 1.8rem;
  color: #FFFFFF;
  text-align: center;
}
.cotenedorcont .hatencion .hinformacion {
  font-size: 120%;
  font-weight: 500;
  line-height: 1.8rem;
  color: #FFFFFF;
  text-align: center;
}
.cotenedorcont .hatencion .hturnoss {
  font-size: 160%;
  font-weight: 500;
  line-height: 1.8rem;
  color: #FFFFFF;
  text-align: center;
  padding: 0px 0px 0px 167px;
}
.cotenedorcont .hatencion .hinformacion {
  font-size: 120%;
  font-weight: 500;
  line-height: 1.8rem;
  color: #FFFFFF;
  text-align: center;
}
.cotenedorcont .hatencion .datos {
  margin-top: 8%;
  display: grid;
  grid-template-columns: 101px 279px;
  grid-template-rows: 105px;
  row-gap: 3%;
  justify-content: center;
  padding: 0px 135px 0px 0px;
  grid-template-areas: "tlf datost" "email datosc";
}
.cotenedorcont .hatencion .datos .tlf {
  grid-area: tlf;
}
.cotenedorcont .hatencion .datos .tlf .telefonod {
  width: 72%;
  margin: -15px 0px 0px 125px;
}
.cotenedorcont .hatencion .datos .email {
  grid-area: email;
}
.cotenedorcont .hatencion .datos .email .correod {
  width: 72%;
  margin: -39px 0px 0px 125px;
}
.cotenedorcont .hatencion .datos .datost {
  grid-area: datost;
}
.cotenedorcont .hatencion .datos .datost .hturnoss {
  font-size: 160%;
  font-weight: 500;
  line-height: 1.8rem;
  color: #FFFFFF;
  text-align: center;
  padding: 0px 0px 0px 167px;
}
.cotenedorcont .hatencion .datos .datost .hdescripcion3 {
  font-size: 138%;
  font-weight: 500;
  line-height: 1.8rem;
  color: rgba(255, 255, 255, 0.86);
  margin: 0px 0px 5px 0px;
  padding: 0px 0px 0px 104px;
  text-align: center;
}
.cotenedorcont .hatencion .datos .datosc {
  grid-area: datosc;
}
.cotenedorcont .hatencion .datos .datosc .hturnoss {
  font-size: 160%;
  font-weight: 500;
  line-height: 1.8rem;
  color: #FFFFFF;
  text-align: center;
  padding: 0px 0px 0px 167px;
}
.cotenedorcont .hatencion .datos .datosc .hdescripcion4 {
  font-size: 22px;
  font-weight: 500;
  line-height: 1.8rem;
  color: rgba(255, 255, 255, 0.86);
  text-align: center;
}
.cotenedorcont .ubi {
  margin-top: 9%;
  display: grid;
  grid-template-columns: 150%;
  grid-template-rows: 10% 90%;
  justify-content: center;
  padding: 0px 0px 0px 0px;
  grid-template-areas: "ubica1" "mapa";
  text-align: center;
  grid-area: ubi;
}
.cotenedorcont .ubi .ubica1 {
  grid-area: ubica1;
}
.cotenedorcont .ubi .ubica1 .ubicacion {
  font-size: 100%;
  font-weight: 500;
  color: #ffd60a;
  line-height: 1em;
  width: 67%;
}
.cotenedorcont .ubi .ubica1 .ubicacion1 {
  font-size: 100%;
  font-weight: 500;
  color: #0077b6;
  line-height: 1em;
}
.cotenedorcont .ubi .mapa {
  grid-area: mapa;
}

.mapa2 {
  display: none;
  grid-area: map2;
}

.textoform {
  grid-area: textoform;
  margin-bottom: 2%;
  margin-top: 6%;
  text-align: center;
}
.textoform .envienosc {
  font-size: 60px;
  font-weight: 500;
  color: #ffd60a;
  line-height: 1em;
}
.textoform .comentarioc {
  font-size: 60px;
  font-weight: 500;
  color: #0077b6;
  line-height: 1em;
}

form {
  margin-left: 10%;
  margin-bottom: 5%;
  background-color: #fbfbfb;
  border-radius: 100px;
  border: solid 1px #ffd60a;
  width: 80%;
  height: 663px;
  display: grid;
  grid-template-columns: 17% 25% 15% 25%;
  grid-template-rows: 25% 25% 40%;
  grid-template-areas: "caja1 caja11 caja2 caja22" "caja3 caja33 caja4 caja44" "caja5 caja5 caja55 caja55 " "boton boton boton boton";
  justify-content: center;
}
form label {
  font-size: 32px;
  color: #444;
  font-weight: 350;
  margin-bottom: 10px;
}
form input {
  background-color: #EFEFEF;
  border: 0;
  font-size: 15px;
  color: black;
  margin-bottom: 20px;
  border-radius: 100px;
  height: 28%;
  padding-left: 10%;
}
form textarea {
  background-color: #EFEFEF;
  border: 0;
  font-size: 15px;
  color: black;
  margin-bottom: 20px;
  border-radius: 100px;
  width: 263%;
  margin-left: 10%;
  padding-left: 34%;
  padding-top: 4%;
}
form :focus {
  outline: 2px solid #0077b6;
}
form .caja1 {
  padding-left: 26%;
  margin-top: 25%;
  grid-area: "caja1";
}
form .caja2 {
  margin-top: 30%;
  padding-left: 17%;
  grid-area: "caja2";
}
form .caja3 {
  padding-left: 26%;
  grid-area: "caja3";
}
form .caja4 {
  padding-left: 17%;
  grid-area: "caja4";
}
form .caja5 {
  padding-left: 26%;
  grid-area: "caja5";
}
form .caja11 {
  margin-top: 18%;
  grid-area: "caja11";
}
form .caja22 {
  margin-top: 18%;
  grid-area: "caja22";
}
form .caja33 {
  grid-area: "caja33";
}
form .caja44 {
  grid-area: "caja44";
}
form .caja55 {
  grid-area: "caja55";
}
form .boton {
  grid-area: boton;
  height: 76%;
  border: solid 2px black;
  border-radius: 15px;
  background-color: #0077b6;
  color: #eeeeee;
  font-size: 96%;
  font-weight: 700;
  margin-left: 82%;
  padding-right: 9%;
  padding-left: 6%;
}
form .boton:hover {
  background-color: #0077b6;
}

@media screen and (max-width: 459px) {
  .titulo {
    color: #0077b6;
    font-family: "Ubuntu", Sans-serif;
    font-size: 136%;
    font-weight: 700;
    margin: 18px 0px 22px 0px;
    text-align: center;
    padding: 0px 0px 0px 0px;
  }
  .bienvenida .profesional {
    font-size: 230%;
  }
  .bienvenida .psicologo {
    font-size: 230%;
  }
  .box {
    margin-top: 12%;
    grid-template-columns: 90%;
    grid-template-rows: 50% 72%;
    grid-template-areas: "box1" "box2";
    margin-left: 0;
  }
  .box .tipoh {
    font-size: 134%;
    margin: 8px 0px 5px 0px;
  }
  .box .boton1 {
    margin: 5px 0px 5px 0px;
    width: 41%;
    height: 38%;
    font-size: 86%;
  }
  .boximg {
    margin-top: -25%;
    row-gap: 2%;
    grid-template-columns: 368px;
    grid-template-rows: 9% 35% 22%;
    grid-template-areas: "bienvenida2" "imagen1" "descripcion1";
    margin-left: 0%;
  }
  .boximg .img1 img {
    width: 369px;
    height: 50%;
    margin-left: 0px;
  }
  .boximg .bienvenida2 {
    font-size: 170%;
  }
  .boximg .descrpcion1 {
    font-size: 117%;
    font-weight: 600;
  }
  .boximg .descrpcion1 .boton2 {
    font-size: 90%;
    width: 50%;
    height: 22%;
    margin: 7px 0px 5px 0px;
  }
  .necesitas {
    margin-bottom: 19%;
    margin-top: -23%;
    display: grid;
    grid-template-columns: 30% 60%;
    grid-template-rows: 54% 56%;
    justify-content: center;
    align-content: center;
    text-align: center;
    grid-template-areas: "necesitas2 necesitas2" "necesitas3 necesitas4";
  }
  .necesitas .necesitas2 {
    border-radius: 100px 100px 0px 0px;
  }
  .necesitas .necesitas2 .t1 {
    font-size: 130%;
    margin-top: 14%;
  }
  .necesitas .necesitas2 .t2 {
    font-size: 160%;
  }
  .necesitas .necesitas3 {
    padding: 25px 0px 14px 0px;
    border-radius: 0px 0px 0px 100px;
  }
  .necesitas .necesitas3 .telefono {
    width: 91px;
    margin: 0px 0px 0px 0px;
  }
  .necesitas .necesitas4 {
    border-radius: 0px 0px 100px 0px;
  }
  .necesitas .necesitas4 .t3 {
    font-weight: 500;
    line-height: 1.5em;
    color: rgb(255, 255, 255);
    margin: 0px 0px 5px;
    padding: 14px 3px 0px 0px;
    font-size: 149%;
  }
  .bannerperfil {
    display: grid;
    grid-template-columns: 35% 63%;
    grid-template-rows: 63% 32%;
    row-gap: 13%;
    grid-template-areas: "foto nombrege" "descriperfil descriperfil";
  }
  .bannerperfil .fotoperfil .fotoperfil2 {
    border-radius: 100px 100px 100px 100px;
    margin: 29px 0px 0px 12px;
  }
  .bannerperfil .nombrege .nombrege1 {
    margin: 63px 40px 0px 0px;
    text-align: center;
  }
  .bannerperfil .descriperfil {
    margin: 0px 7px 0px 11px;
    font-size: 157%;
  }
  .nosotros {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    margin-bottom: 142px;
  }
  .serviciotobanner {
    height: 55px;
  }
  .serviciotobanner .contactotex {
    font-size: 200%;
    padding: 9px 0px 0px 0px;
  }
  .cardpadre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    row-gap: 40px;
  }
  .cardpadre .card1 {
    width: 290px;
  }
  .cardpadre .card2 {
    width: 290px;
  }
  .cardpadre .card3 {
    width: 290px;
  }
  .cardpadre .card4 {
    width: 290px;
  }
  .cardpadre .card5 {
    width: 290px;
  }
  .cardpadre .card6 {
    width: 290px;
  }
  .cajaimgbanner {
    margin-bottom: 34%;
  }
  .cajaimgbanner .cartitle7 {
    padding-top: 158px;
    font-size: 182%;
    text-align: center;
  }
  .contactobanner {
    height: 55px;
  }
  .contactobanner .contactotex {
    font-size: 200%;
    padding: 9px 0px 0px 0px;
  }
  .cotenedorcont {
    display: grid;
    grid-template-columns: 90%;
    grid-template-rows: 67% 6%;
    grid-template-areas: "hatencion" "ubi";
    margin-right: 0%;
    justify-items: center;
  }
  .cotenedorcont .hdescripcion4 {
    padding-bottom: 14%;
  }
  .cotenedorcont .hatencion {
    width: 362px;
  }
  .cotenedorcont .ubi {
    margin-top: 9%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
  .cotenedorcont .ubi .ubica2 {
    width: 100%;
    padding-right: 0px;
  }
  .cotenedorcont .ubi .ubica2 .ubicacion {
    padding-left: 0%;
  }
  .cotenedorcont .ubi .mapa {
    display: none;
  }
  .cotenedorcont .mapa2 {
    display: contents;
  }
  .textoform {
    margin-top: 14%;
  }
  .textoform .envienosc {
    font-size: 100%;
  }
  .textoform .comentarioc {
    font-size: 100%;
  }
  form {
    margin-left: 5%;
    margin-bottom: 36%;
    background-color: #fbfbfb;
    border-radius: 100px;
    width: 90%;
    height: 839px;
    display: grid;
    grid-template-columns: 90%;
    grid-template-rows: 11% 7% 7% 7% 6% 7% 6% 7% 6% 22% 9%;
    grid-template-areas: "caja1" "caja11" "caja2" "caja22" "caja3" "caja33" "caja4" "caja44" "caja5" "caja55 " "boton";
  }
  form .caja1 {
    padding-left: 6%;
    margin-top: 13%;
  }
  form .caja11 {
    margin-top: 0%;
  }
  form .caja2 {
    margin-top: 3%;
    padding-left: 6%;
  }
  form .caja22 {
    margin-top: 0%;
  }
  form .caja3 {
    padding-left: 6%;
  }
  form .caja4 {
    padding-left: 6%;
  }
  form .caja5 {
    padding-left: 6%;
  }
  form input {
    background-color: #EFEFEF;
    border: 0;
    font-size: 15px;
    color: black;
    margin-bottom: 20px;
    border-radius: 100px;
    height: 86%;
    padding-left: 10%;
  }
  form textarea {
    width: 100%;
    margin-left: 0%;
    padding-left: 14%;
  }
  form .boton {
    width: 30%;
    margin-left: 36%;
  }
}
@media only screen and (min-width: 460px) and (max-width: 1200px) {
  .titulo {
    font-size: 49px;
    letter-spacing: -1.5px;
    margin: 19px 8px 31px 8px;
    padding: 0px 0px 0px 0px;
  }
  .bienvenida .profesional {
    font-size: 364%;
  }
  .bienvenida .psicologo {
    font-size: 364%;
  }
  .box {
    margin-left: 0%;
  }
  .box .boton1 {
    font-size: 100%;
    width: 49%;
    height: 28%;
    margin: 9px 0px 5px 0px;
  }
  .boximg {
    margin-left: 0%;
    margin-top: -12%;
    row-gap: 28px;
    grid-template-columns: 90%;
    grid-template-rows: 15% 38% 28%;
    grid-template-areas: "bienvenida2" "imagen1" "descripcion1";
  }
  .boximg .img1 img {
    width: 413px;
    height: 434px;
    margin-left: -10px;
  }
  .boximg .bienvenida2 {
    margin: 38px 0px 0px 0px;
  }
  .boximg .bienvenida2 .boton2 {
    font-size: 54%;
    width: 45%;
    height: 14%;
  }
  .necesitas {
    margin-top: -6%;
    grid-template-columns: 50% 45%;
    grid-template-rows: 45% 70%;
    grid-template-areas: "necesitas2 necesitas2" "necesitas3 necesitas4";
  }
  .necesitas .necesitas2 {
    border-radius: 35px 35px 0px 0px;
  }
  .necesitas .necesitas3 {
    border-radius: 0px 0px 0px 25px;
  }
  .necesitas .necesitas4 {
    border-radius: 0px 0px 25px 0px;
  }
  .necesitas .necesitas4 .t3 {
    padding: 18px 3px 0px 0px;
  }
  .necesitas .necesitas4 .t4 {
    padding: 0px 8px 0px 0px;
  }
  .bannerperfil {
    display: grid;
    grid-template-columns: 20% 69%;
    grid-template-rows: 69% 23%;
    grid-template-areas: "foto nombrege" "descriperfil descriperfil";
  }
  .bannerperfil .fotoperfil2 {
    border-radius: 100px 100px 100px 100px;
    margin: 0px 0px 0px 0px;
  }
  .bannerperfil .nombrege .nombrege1 {
    margin: 24px -2px 0px 0px;
    font-size: 230%;
    text-align: center;
  }
  .bannerperfil .descriperfil {
    font-size: 31px;
    font-weight: 500;
    color: #0077b6;
    grid-area: descriperfil;
    margin-left: 2px;
    margin-right: 2px;
  }
  .descripcionper {
    font-size: 177%;
    font-weight: 450;
  }
  .descripcionper2 {
    font-size: 177%;
    font-weight: 450;
  }
  .nosotros {
    margin-bottom: 13%;
  }
  .nosotros .n2 .pnosotros {
    font-size: 140%;
  }
  .nosotros .n3 .pnosotros {
    font-size: 140%;
  }
  .cardpadre {
    margin-top: 15%;
    grid-template-columns: 45% 45%;
    grid-template-rows: 30% 30% 30%;
    row-gap: 6%;
    -moz-column-gap: 8px;
         column-gap: 8px;
    justify-items: center;
    grid-template-areas: "card1 card2" "card3 card4" "card5 card6";
  }
  .cardpadre .card1 {
    width: 190px;
    height: 227px;
  }
  .cardpadre .card1 .imgcad22 {
    width: 189px;
  }
  .cardpadre .card1 .cartitle1 {
    padding-top: 16px;
    font-size: 12px;
  }
  .cardpadre .card2 {
    width: 190px;
    height: 227px;
  }
  .cardpadre .card2 .imgcad2 {
    width: 190px;
    height: 128px;
  }
  .cardpadre .card2 .cartitle2 {
    padding-top: 10px;
    font-size: 12px;
  }
  .cardpadre .card3 {
    width: 190px;
    height: 227px;
  }
  .cardpadre .card3 .imgcad22 {
    width: 189px;
  }
  .cardpadre .card3 .cartitle3 {
    font-size: 12px;
  }
  .cardpadre .card4 {
    width: 190px;
    height: 227px;
  }
  .cardpadre .card4 .imgcad22 {
    width: 189px;
  }
  .cardpadre .card4 .cartitle4 {
    padding-top: 26px;
    font-size: 12px;
  }
  .cardpadre .card5 {
    width: 190px;
    height: 227px;
  }
  .cardpadre .card5 .imgcad22 {
    width: 189px;
  }
  .cardpadre .card5 .cartitle5 {
    padding-top: 27px;
    font-size: 12px;
  }
  .cardpadre .card6 {
    width: 190px;
    height: 227px;
  }
  .cardpadre .card6 .cartitle6 {
    font-size: 12px;
  }
  .cardpadre .card6 .imgcad22 {
    width: 189px;
  }
  .cajaimgbanner {
    margin-bottom: 12%;
  }
  .cajaimgbanner .cartitle7 {
    padding-top: 122px;
    font-size: 36px;
    text-align: center;
  }
  .cotenedorcont {
    flex-direction: column;
    margin-right: 0px;
    align-items: center;
    margin-bottom: 13%;
    row-gap: 33px;
  }
  .cotenedorcont .hdescripcion {
    font-size: 170%;
  }
  .cotenedorcont .hatencion {
    width: 421px;
    height: 648px;
  }
  .cotenedorcont .mapa {
    display: none;
  }
  .cotenedorcont .mapa2 {
    display: contents;
  }
  .textoform .envienosc {
    font-size: 31px;
  }
  .textoform .comentarioc {
    font-size: 31px;
  }
  form {
    margin-left: 5%;
    margin-bottom: 14%;
    background-color: #fbfbfb;
    border-radius: 100px;
    width: 90%;
    height: 663px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 12% 12% 8% 12% 12% 30% 20%;
    -moz-column-gap: 2%;
         column-gap: 2%;
    grid-template-areas: "caja1 caja2" "caja11 caja22" "caja3 caja4" "caja33 caja44" "caja5 caja5" "caja55 caja55" "boton boton";
  }
  form .caja1 {
    padding-left: 20%;
    margin-top: 10%;
    grid-area: caja1;
  }
  form .caja11 {
    height: 80%;
    font-size: 140%;
    margin-top: 0%;
    grid-area: caja11;
    width: 90%;
    margin-left: 8%;
  }
  form .caja2 {
    padding-left: 0%;
    margin-top: 10%;
    grid-area: caja2;
  }
  form .caja22 {
    width: 90%;
    height: 80%;
    font-size: 140%;
    margin-top: 0%;
    grid-area: caja22;
  }
  form .caja3 {
    padding-left: 13%;
    grid-area: caja3;
  }
  form .caja33 {
    height: 80%;
    width: 91%;
    margin-left: 8%;
    font-size: 140%;
    grid-area: caja33;
  }
  form .caja4 {
    padding-left: 1%;
    grid-area: caja4;
  }
  form .caja44 {
    width: 90%;
    height: 80%;
    font-size: 140%;
    grid-area: caja44;
  }
  form .caja5 {
    padding-left: 6%;
    grid-area: caja5;
  }
  form .caja55 {
    width: 93%;
    margin-left: 3%;
    height: 90%;
    padding-left: 8%;
    font-size: 140%;
    grid-area: caja55;
  }
  form .boton {
    font-size: 153%;
    height: 50%;
    width: 171px;
    margin-left: 267px;
  }
}/*# sourceMappingURL=estilos.css.map */