@media screen and (max-width: 459px){

    .titulo {
        color: #0077b6;
        font-family: "Ubuntu", Sans-serif;
        font-size: 136%;
        font-weight: 700;
        margin: 18px 0px 22px 0px;
        text-align: center;
        padding: 0px 0px 0px 0px;
    }

    .bienvenida{

        .profesional {
            font-size: 230%;
        }

        .psicologo {
            font-size: 230%;
        }

    }

    .box {
        margin-top: 12%;
        grid-template-columns: 90%;
        grid-template-rows: 50% 72%;
        grid-template-areas:
            "box1"
            "box2";
        margin-left: 0;

        .tipoh {
            font-size: 134%;
            margin: 8px 0px 5px 0px;
        }
        .boton1 {
            margin: 5px 0px 5px 0px;
            width: 41%;
            height: 38%;
            font-size: 86%;
        }
    }

    .boximg {
        margin-top: -25%;
        row-gap: 2%;
        grid-template-columns: 368px;
        grid-template-rows: 9% 35% 22%;
        grid-template-areas:
            "bienvenida2"
            "imagen1"
            "descripcion1";
        margin-left: 0%;

        .img1 img {
            width: 369px;
            height: 50%;
            margin-left: 0px;
        }

        .bienvenida2 {
            font-size: 170%;
        }
        .descrpcion1 {
            font-size: 117%;
            font-weight: 600;

            .boton2 {
                font-size: 90%;
                width: 50%;
                height: 22%;
                margin: 7px 0px 5px 0px;
            }
    }
       
    }
    
    .necesitas {
        margin-bottom: 19%;
        margin-top: -23%;
        display: grid;
        grid-template-columns: 30% 60%;
        grid-template-rows: 54% 56%;
        justify-content: center;
        align-content: center;
        text-align: center;
        grid-template-areas:
            "necesitas2 necesitas2"
            "necesitas3 necesitas4";

            .necesitas2 {
                border-radius: 100px 100px 0px 0px;
                
    .t1 {
        font-size: 130%;
        margin-top: 14%;
    }
    .t2 {
        font-size: 160%;
    }
            }
            .necesitas3 {
                padding: 25px 0px 14px 0px;
                border-radius: 0px 0px 0px 100px;

                .telefono {
                    width: 91px;
                    margin: 0px 0px 0px 0px;
                }
            }
            .necesitas4 {
                border-radius: 0px 0px 100px 0px;
                .t3 {
                    font-weight: 500;
                    line-height: 1.5em;
                    color: rgb(255, 255, 255);
                    margin: 0px 0px 5px;
                    padding: 14px 3px 0px 0px;
                    font-size: 149%;
                }

            }
    }
    

    .bannerperfil {
        display: grid;
        grid-template-columns: 35% 63%;
        grid-template-rows: 63% 32%;
        row-gap: 13%;
        grid-template-areas:
            "foto nombrege"
            "descriperfil descriperfil"; 

            .fotoperfil{
            .fotoperfil2 {
                border-radius: 100px 100px 100px 100px;
                margin: 29px 0px 0px 12px;
            }}

            .nombrege{
            .nombrege1 {
                margin: 63px 40px 0px 0px;
                text-align: center;
            }}

            .descriperfil {
                margin: 0px 7px 0px 11px;
                font-size: 157%;
            }
        }

         .nosotros {
            display:flex;
            flex-direction: column;
            row-gap: 40px;
            margin-bottom: 142px;
        }

        .serviciotobanner {
            height: 55px;
            .contactotex {
                font-size: 200%;
                padding: 9px 0px 0px 0px;
            }
            
        }


        .cardpadre{

            display: flex;
            flex-direction: column;
            justify-content: center;
            justify-items: center;
            align-items: center;
            row-gap: 40px;

            
            .card1{
                width: 290px;
            }
            .card2 {
                width: 290px;
            }
            .card3 {
                width: 290px;
            }
            .card4 {
                width: 290px;
            }
            .card5 {
                width: 290px;
            }
            .card6{
                width: 290px;
            }
        }

        .cajaimgbanner {
            margin-bottom: 34%;

            .cartitle7 {
                padding-top: 158px;
                font-size: 182%;
                text-align: center;
            }
            }
            


            .contactobanner {
                height: 55px;
                .contactotex {
                    font-size: 200%;
                    padding: 9px 0px 0px 0px;
                }
            }
       

            .cotenedorcont {
                display: grid;
                grid-template-columns: 90%;
                grid-template-rows: 67% 6%;
                grid-template-areas:
                    "hatencion"
                    "ubi";
                margin-right: 0%;
                justify-items: center;

                .hdescripcion4{
                    padding-bottom: 14%;
                }

                .hatencion {
                    width: 362px;
              }

              


        .ubi {
            margin-top: 9%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            align-items: center;

           .ubica2 {
                    width: 100%;
                    padding-right: 0px;
                .ubicacion {
                    padding-left: 0%;            
    }
    }
    .mapa{
        display:none;
    }
}

        
     .mapa2{display:contents}
        
    }

    .textoform {
        margin-top: 14%;
        .envienosc{
            font-size: 100%;
        }
        .comentarioc{
            font-size: 100%;
        }
}

form {
    margin-left: 5%;
    margin-bottom: 36%;
    background-color: #fbfbfb;
    border-radius: 100px;
    width: 90%;
    height: 839px;
    display: grid;
    grid-template-columns: 90%;
    grid-template-rows: 11% 7% 7% 7% 6% 7% 6% 7% 6% 22% 9%;
    grid-template-areas:
        "caja1"
        "caja11"
        "caja2"
        "caja22"
        "caja3"
        "caja33"
        "caja4"
        "caja44"
        "caja5"
        "caja55 "
        "boton";


    .caja1 {
        padding-left: 6%;
        margin-top: 13%;
    }
    .caja11 {
        margin-top: 0%;
    }
    .caja2 {
        margin-top: 3%;
        padding-left: 6%;
    }
    .caja22 {
        margin-top: 0%;
    }
    .caja3 {
        padding-left: 6%;
    }
    .caja4 {
        padding-left: 6%;
    }
    .caja5 {
        padding-left: 6%;
    }
   

    input {
        background-color: #EFEFEF;
        border: 0;
        font-size: 15px;
        color: black;
        margin-bottom: 20px;
        border-radius: 100px;
        height: 86%;
        padding-left: 10%;
}

textarea {
    width: 100%;
    margin-left: 0%;
    padding-left: 14%;
}

.boton {
    width: 30%;
    margin-left: 36%;
}
}












}

@media only screen and (min-width: 460px) and (max-width: 1200px){


    .titulo {
        font-size: 49px;
        letter-spacing: -1.5px;
        margin: 19px 8px 31px 8px;
        padding: 0px 0px 0px 0px;
    }

    .bienvenida{

        .profesional {
            font-size: 364%;
        }
    
        .psicologo {
            font-size: 364%;
        }

    }

    .box {
        margin-left: 0%;

        .boton1 {
            font-size: 100%;
            width: 49%;
            height: 28%;
            margin: 9px 0px 5px 0px;
        }
    }

        .boximg {
            margin-left: 0%;
            margin-top: -12%;
            row-gap: 28px;
            grid-template-columns: 90%;
            grid-template-rows: 15% 38% 28%;
            grid-template-areas:
                "bienvenida2"
                "imagen1"
                "descripcion1";

        .img1 img {
            width: 413px;
            height: 434px;
            margin-left: -10px;
    }
    

    .bienvenida2{
        margin: 38px 0px 0px 0px;
        .boton2 {
            font-size: 54%;
            width: 45%;
            height: 14%;
        }
    }
    }

    .necesitas {
        margin-top: -6%;
        grid-template-columns: 50% 45%;
        grid-template-rows: 45% 70%;
        grid-template-areas:
            "necesitas2 necesitas2"
            "necesitas3 necesitas4";
        

            .necesitas2 {
                border-radius: 35px 35px 0px 0px;
            }

            .necesitas3 {
                border-radius: 0px 0px 0px 25px;
            }

            .necesitas4 {
                border-radius: 0px 0px 25px 0px;
                .t3 {
                    padding: 18px 3px 0px 0px;
                }

                .t4{
                    padding: 0px 8px 0px 0px;
                }
            }
    }

    .bannerperfil {
        display: grid;
        grid-template-columns: 20% 69%;
        grid-template-rows: 69% 23%;
        grid-template-areas:
            "foto nombrege"
            "descriperfil descriperfil";

            .fotoperfil2 {
                border-radius: 100px 100px 100px 100px;
                margin: 0px 0px 0px 0px;
            }
            .nombrege{
            .nombrege1 {
                margin: 24px -2px 0px 0px;
                font-size: 230%;
                text-align: center;
            }
    }

    .descriperfil {
        font-size: 31px;
    font-weight: 500;
    color: #0077b6;
    grid-area: descriperfil;
    margin-left: 2px;
    margin-right: 2px;
    }

}

.descripcionper {
    font-size: 177%;
    font-weight: 450;
}

.descripcionper2 {
    font-size: 177%;
    font-weight: 450;
}




.nosotros{
margin-bottom: 13%;


.n2{
    .pnosotros{
    font-size: 140%;
}
}

.n3{
    .pnosotros{
        font-size: 140%;
    }
}
}


.cardpadre {
    margin-top: 15%;
    grid-template-columns: 45% 45%;
    grid-template-rows: 30% 30% 30%;
    row-gap: 6%;
    column-gap: 8px;
    justify-items: center;
    grid-template-areas:
        "card1 card2"
        "card3 card4"
        "card5 card6";


            .card1 {
                width: 190px;
                height: 227px;

                .imgcad22 {
                    width: 189px;
                }
            .cartitle1 {
                padding-top: 16px;
                    font-size: 12px;
            }
        }

        .card2 {
            width: 190px;
            height: 227px;
                .imgcad2 {
                    width: 190px;
                    height: 128px;
                }
            .cartitle2 {
                padding-top: 10px;
                font-size: 12px;
            }
        }
    
        .card3 {
            width: 190px;
            height: 227px;
            .imgcad22 {
                width: 189px
            }
            .cartitle3 {
                font-size: 12px;
        }
        }
        .card4 {
            width: 190px;
            height: 227px;
            .imgcad22 {
                width: 189px
            }
            .cartitle4{
            padding-top: 26px;
            font-size: 12px;
            }
        }
    
        .card5 {
            width: 190px;
            height: 227px;
            .imgcad22 {
                width: 189px
            }
            .cartitle5 {
                
                padding-top: 27px;
                font-size: 12px;
            }
        }
    
        .card6 {
            width: 190px;
            height: 227px;
            .cartitle6 {
               
                font-size: 12px;
            }
            .imgcad22 {
                width: 189px
            }
        }
}

.cajaimgbanner {
    margin-bottom: 12%;

    .cartitle7 {
        padding-top: 122px;
        font-size: 36px;
        text-align: center;
    }
}

.cotenedorcont{

    flex-direction: column;
    margin-right: 0px;
    align-items: center;
    margin-bottom: 13%;
    row-gap: 33px;

    .hdescripcion {
        font-size: 170%;
        
    }

    .hatencion {
    width: 421px;
    height: 648px;
 
}

.mapa{
    display:none;
    }

.mapa2{
    display:contents
}

}
.textoform{
.envienosc{
    font-size: 31px;
    }
    .comentarioc{
     font-size: 31px;
    
    }
}

form {
    margin-left: 5%;
    margin-bottom: 14%;
    background-color: #fbfbfb;
    border-radius: 100px;
    width: 90%;
    height: 663px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 12% 12% 8% 12% 12% 30% 20%;
    column-gap: 2%;
    grid-template-areas:
        "caja1 caja2"
        "caja11 caja22"
        "caja3 caja4"
        "caja33 caja44"
        "caja5 caja5"
        "caja55 caja55"
        "boton boton";


    
        .caja1 {
        padding-left: 20%;
        margin-top: 10%;
        grid-area: caja1;
    }
    .caja11{
        height: 80%;
        font-size: 140%;
        margin-top: 0%;
        grid-area: caja11;
        width: 90%;
        margin-left: 8%;
    }
    .caja2{
        padding-left: 0%;
        margin-top: 10%;
        grid-area: caja2;
    }
    .caja22{
        width: 90%;
        height: 80%;
        font-size: 140%;
        margin-top: 0%;
        grid-area: caja22;
    }
    .caja3{
        padding-left: 13%;
        grid-area: caja3;
    }
    .caja33{
        height: 80%;
        width: 91%;
        margin-left: 8%;
        font-size: 140%;
        grid-area: caja33;
    }
    .caja4{
        padding-left: 1%;
        grid-area: caja4;
    }
    .caja44{
        width: 90%;
        height: 80%;
        font-size: 140%;
        grid-area: caja44;
    }
    .caja5{
        padding-left: 6%;
        grid-area: caja5;
    }

    .caja55{
        width: 93%;
        margin-left: 3%;
        height: 90%;
        padding-left: 8%;
        font-size: 140%;
        grid-area: caja55;
    }

    .boton {
        font-size: 153%;
        height: 50%;
        width: 171px;
        margin-left: 267px;
}
}
}


        


    

    



























