.serviciotobanner{
    width: 100%;
    height: 160px;
    border-radius: 0px 0px 15px 15px;
    background-color: #eeeeee;
    text-align: center;
    box-shadow: -5px 20px 16px 4px rgba(0, 0, 0, 0.1607843137);

    .contactotex{
        color: #0077b6;
        font-family: "Ubuntu", Sans-serif;
        font-size: 42px;
        font-weight: 700;
        letter-spacing: 0.5px;
        padding: 57px 0px 0px 0px;
    }
    
    }

    .servicioselig{
        margin-top: 8%;
        text-align: center;

        .serviciose1 {
            font-size: 100%;
            font-weight: 700;
            color: #ffd60a;
            line-height: 1em;
        }

        .serviciose {
        font-size: 100%;
        font-weight: 700;
        color: #0077b6;
        line-height: 1em;
       }
        
       }
       .cardpadre{
        margin-left: 4%;
        margin-right: 4%;
        margin-top: 8%;
        display: grid;
        grid-template-columns: 288px 288px 287px;
        grid-template-rows: 344px 344px;
        column-gap: 6%;
        row-gap: 14%;
        justify-content: center;
        align-content: center;
        text-align: center;
        grid-template-areas:
            "card1 card2 card3"
            "card4 card5 card6";
     }

       
        .card1{
            border: solid 1px #ffd60a;
            grid-area: card1;
            background-color: #EFEFEF;
            border-radius: 15px 15px;
            grid-area: card1;
            height: 340px;
        
            .imgcad22{
                width: 288px;
                border-radius: 15px 15px 15px 15px;}

         .cartitle1{
            margin-top: 3%;
         color: #01486d;
         padding-top: 30px;
         }
        }

           

         .card2{
            border: solid 1px #ffd60a;
            grid-area: card1;
            background-color: #EFEFEF;
            border-radius: 15px 15px;
            grid-area: card2;
            height: 340px;

            .imgcad2{
                width: 288px;
                height: 192px;
                border-radius: 15px 15px 15px 15px;
             }
     
             .cartitle2{
                margin-top: 3%;
             color: #01486d;
             padding-top: 23px;
             }

         }

         

         .card3{
            border: solid 1px #ffd60a;
            grid-area: card1;
            background-color: #EFEFEF;
            border-radius: 15px 15px;
            grid-area: card3;
            height: 340px;
            .imgcad22{
                width: 288px;
                border-radius: 15px 15px 15px 15px;}
            }
            .cartitle3{
                margin-top: 3%;
             color: #01486d;
             padding-top: 23px;
             }
                
        

         .card4{
            border: solid 1px #ffd60a;
            grid-area: card1;
            background-color: #EFEFEF;
            border-radius: 15px 15px;
            grid-area: card4;
            height: 340px;

            .imgcad22{
                width: 288px;
                border-radius: 15px 15px 15px 15px;}

                .cartitle4{
                    margin-top: 3%;
                 color: #01486d;
                 padding-top: 50px;
                 }
         }

         .card5{
            border: solid 1px #ffd60a;
            grid-area: card1;
            background-color: #EFEFEF;
            border-radius: 15px 15px;
            grid-area: card5;
            height: 340px;

            .imgcad22{
                width: 288px;
                border-radius: 15px 15px 15px 15px;}

            .cartitle5{
                
                margin-top: 3%;
             color: #01486d;
             padding-top: 22px;
             }
         }

         .card6{
            border: solid 1px #ffd60a;
            grid-area: card1;
            background-color: #EFEFEF;
            border-radius: 15px 15px;
            grid-area: card6;
            height: 340px;

            .imgcad22{
                width: 288px;
                border-radius: 15px 15px 15px 15px;}

                .cartitle6{
                    margin-top: 3%;
                 color: #01486d;
                 padding-top: 22px;
                 }
         }

         .cajaimgbanner{
            margin-top: 12%;
            margin-bottom: 4%;
            .banner22 {
                height: 400px;
             }
             
 .logobanner{
    width: 350px;
 }
    .cartitle7{
        margin-top: 3%;
        color: #0077b6;
        padding-top: 111px;
        font-size: 47px;
        text-shadow: 2px 0px 3px #000, 8px 5px 10px #000, 0px 0px 0 #000, 0px 0px 0 #000;
     }
 }





         
        
        
         
         
    

    